.maintitle {
    color: #DE0023;
    font-size: 14px;
    line-height: 30px;
    padding-left: 1px;
}

.left {
    background-image: url(../images/listpageimages/leftbackground.png);
    background-repeat: no-repeat;
}

.left_title_arrow {
    color: #DE0023;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

.left_title.active {
    color: #DE0023;
    font-size: 14px;
    line-height: 30px;
    padding-left: 1px;
}

.left_title {
    color: black;
    font-size: 14px;
    line-height: 30px;
    padding-left: 1px;

}
.left_title_div{
    margin: 0;
    padding-left: 20px;
}

.right_title {
    color: #000000;
    line-height: 30px;
    padding-left: 1px;
    font-size: 14px;
}

.position, .position a {
    font-size: 14px;
    color: #999999;
    font-family: 宋体;
}

.title1 {
    font-family: 黑体;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.li_1 {
    list-style-type: square;
    height: 8px;
    width: 8px;
    background-image: none;
    color: #DE0023;
    margin: 0;
    padding: 0;
}

.title2 {
    font-family: 微软雅黑;
    font-size: 18px;
    margin: 0;
    line-height: 2em;
    padding-top: 10px;

}

.content p{
    font-family: 微软雅黑;
    font-size: 18px;
    line-height: 2em;
    margin: 0;
    padding-left: 20px;
    text-indent: 2em;
    padding-right: 20px;
}

.content strong{
    font-family: 微软雅黑;
    font-size: 18px;
    margin: 0;
    line-height: 2em;
    padding-top: 10px;
}