
.downloadone{
	width:1280px;
	height:565px;
	margin: 0 auto;
}
.line1{
	width:1280px;
	height:99px;
	margin: 0 auto;
}
.line1a{
	position:relative;
	width:340px;
	height:18px;
	left:40px;
	top:22px;
	font-weight:bold;
}
.line2{
	width:1280px;
	height:1px;
	margin: 0 auto;
}
.line3{
	width:1280px;
	height:400px;
	margin: 0 auto;
}
.line3a{
	position:relative;
	height:240px;
	width:265px;
	left:40px;
	top:22px;
	float:left;
}
.line3b{
	position:relative;
	width:950px;
	height:370px;
	top:22px;
	right:22.5px;
	border-style:dotted;
	border-width:thin;
	float:right;
}
.line3b1{
	top:10px;
	left:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.line3b2{
	top:10px;
	right:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.line3b3{
	top:130px;
	left:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.line3b4{
	top:130px;
	right:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.line3b5{
	bottom:10px;
	left:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.line3b6{
	bottom:10px;
	right:10px;
	width:450px;
	height:110px;
	position:absolute;
	border-style:dotted;
	border-width:thin;
	background-color:#F0F0F0;
}
.top{
	width:100%;
	height:30%;
	top:0;
	left:0;
	position:absolute;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden; 
}
.left{
	width:65%;
	height:70%;
	float:left;
	top:30%;
	left:0;
	position:absolute;
}
.left1{
	width:100%;
	height:25%;
	float:left;
	top:0;
	left:0;
	position:absolute;
}
.left2{
	width:100%;
	height:25%;
	float:left;
	top:25%;
	left:0;	 
	position:absolute;	
}
.left3{
	width:100%;
	height:25%;
	float:left;
	top:50%;
	left:0;
	position:absolute;	
}
.right{
	width:35%;
	height:66%;
	float:right;
	top:34%;
	right:0;
	position:absolute;
}
.box{
	left:30%;
	top:40%;
	position:absolute;
}
.linetda{
	position:absolute;
	width:100%;
	height:33%;
	background-color:#FF2D2D;
	border-style:dotted;
	border-width:thin;
}
.linetdb{
	position:absolute;
	width:100%;
	top:33%;
	height:33%;
	background-color:#FF2D2D;
	border-style:dotted;
	border-width:thin;
}
.linetdc{
	position:absolute;
	width:100%;
	top:66%;
	height:33%;
	background-color:#FF2D2D;
	border-style:dotted;
	border-width:thin;
}
.linetd{
	position:absolute;
	text-align:center;
	top:40%;
	width:100%;
	height:30%;
}
.line4{
	width:1280px;
	height:1px;
	margin: 0 auto;
}
.line5{
	width:1280px;
	margin: 0 auto;
}
.line5a{
	position:relative;
	width:480px;
	height:18px;
	left:800px;
	top:12px;
}

a.ca:link { 
	color:#000000; 
	text-decoration:none; 
}
a.ca:visited {
	color:#000000; 
	text-decoration:none
}
a.ca:hover { 
	color:#000000; 
	text-decoration:underline; 
}
a.ca:active { 
	color:#FFFFFF; 
	text-decoration:none; 
} 

DIV.digg { 
PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px;
 MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center 
} 
DIV.digg A { 
BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid;
 PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; 
BORDER-LEFT: #aaaadd 1px solid; COLOR: #000099; PADDING-TOP: 2px;
 BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none 
} 
DIV.digg A:hover { 
BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid;
 BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid 
} 
DIV.digg A:active { 
BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid;
 BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid 
} 
DIV.digg SPAN.current { 
BORDER-RIGHT: #000099 1px solid; PADDING-RIGHT: 5px;
 BORDER-TOP: #000099 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold;
 PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000099 1px solid;
 COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #000099 
} 
DIV.digg SPAN.disabled { 
BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid;
 PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px;
 BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px;
 BORDER-BOTTOM: #eee 1px solid 
}
